pkgbase = aircrack-ng-git
	pkgdesc = WiFi security auditing tools suite
	pkgver = 20240303.6e2871e7
	pkgrel = 1
	url = https://aircrack-ng.org
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL2
	makedepends = git
	makedepends = python
	makedepends = python-setuptools
	depends = gcc-libs
	depends = libnl
	depends = openssl
	depends = sqlite
	depends = hwloc
	depends = pcre
	depends = libpcap
	depends = iw
	depends = net-tools
	depends = ethtool
	optdepends = python: needed for dump-join, airgraph-ng, versuck-ng, airdrop-ng
	optdepends = usbutils: needed for airmon-ng
	optdepends = pciutils: required for devices with populated PCI(e) bus
	optdepends = gpsd: allows airodump-ng to log coordinates
	optdepends = pcre2: SSID filtering with regular expressions in airodump-ng
	provides = aircrack-ng
	provides = aircrack-ng-scripts
	conflicts = aircrack-ng
	conflicts = aircrack-ng-scripts
	replaces = aircrack-ng-svn
	replaces = aircrack-ng-scripts
	source = git+https://github.com/aircrack-ng/aircrack-ng.git
	sha256sums = SKIP

pkgname = aircrack-ng-git
