pkgbase = pyactivate
	pkgdesc = Add a python venv to your environment from within subdirs in a project
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/AlphaLynx0/pyactivate
	arch = any
	license = 0BSD
	depends = bash
	source = pyactivate-1.0.0.tar.gz::https://github.com/AlphaLynx0/pyactivate/archive/refs/tags/v1.0.0.tar.gz
	b2sums = e58463dd2bb9913dbcc472810305120c5015f80fd2a540a02b05bf1f8c882226e70741602dd25d124121a1d42e61803fa5f941ac82ddcaca853ea954b970a834

pkgname = pyactivate
