pkgbase = pyactivate
	pkgdesc = Add a python venv to your environment from within subdirs in a project
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/AlphaLynx0/pyactivate
	arch = any
	license = 0BSD
	depends = bash
	source = pyactivate-1.0.1.tar.gz::https://github.com/AlphaLynx0/pyactivate/archive/refs/tags/v1.0.1.tar.gz
	b2sums = 5e8b29121be5c375473587313682cf33aa771635ace22ade7c9f240c61d620dc3c1d428ba72e6ba1d8c5569fa4a1a0381dc07ae828d87780bd4908d669032c43

pkgname = pyactivate
